# Pandas Fundametals

### Key pandas concept:
- Series:
A series is a one-dimensional labeld array that ca n hold any data type: integeres, floats, strings, or eve Python objects. Each element in the series has a unique label called an Index. 

- DataFrame:
A DataFrame is a two-dimensional labeld data structure in Pandas, similar to a table in a database, an Excel spreadsheet, or a SQL table. It consists of rows and columns.

In [1]:
import pandas as pd

# read csv from CSV file into a dataframe
df = pd.read_csv("student_data.csv")
print(df.head())

   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        85.0           95.0                   92.5
1         102        78.0           88.0                   99.0
2         103        91.0           75.0                   75.5
3         104        76.0           89.0                    NaN
4         105        95.0           92.0                   98.0

In [2]:
import pandas as pd

# read json file
df = pd.read_json('isjson.json')
print(df.head())

   id     name  age        department  marks
0   1    Alice   24  Computer Science     88
1   2      Bob   22       Mathematics     75
2   3  Charlie   23           Physics     92
3   4    David   21  Computer Science     81
4   5      Eva   24       Mathematics     95

- gcsfs is used for cloud data

In [7]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 22, 23],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)
print(df)

df.to_csv('output.csv', index=False)

      Name  Age         City
0    Alice   24     New York
1      Bob   22  Los Angeles
2  Charlie   23      Chicago

------------------------------------------------------------
### Why Exploring Dataset is Important:
- understand the data set and its format
- identify the problems (duplicate, missing, infinity)
- plan next steps

In [9]:
import pandas as pd

# head() tail()
# head(n), taile(n) or by befault 5 Rows

df = pd.read_csv("student_data.csv")
print("\nDisplay 10 rows from Starting: ")
print(df.head(10))

print("\nDisplay 10 rows from End: ")
print(df.tail(10))

Display 10 rows from Starting:
   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        85.0           95.0                   92.5
1         102        78.0           88.0                   99.0
2         103        91.0           75.0                   75.5
3         104        76.0           89.0                    NaN
4         105        95.0           92.0                   98.0
5         106        65.0           72.0                   68.0
6         107        88.0           85.0                  105.0
7         108        92.0           91.0                   90.0
8         109         NaN           80.0                   85.0
9         110        80.0           90.0                   92.0

Display 10 rows from End:
    Student_ID  Math_Score  Science_Score  Attendance_Percentage
7          108        92.0           91.0                   90.0
8          109         NaN           80.0                   85.0
9          110        80.0           90.0                   92.0
10         111        75.0           78.0                   79.0
11         112       -10.0           88.0                   87.0
12         113        89.0            inf                   88.0
13         114        90.0           -inf                   91.0
14         115        87.0           93.0                   94.0
15         116        82.0           84.0                   86.0
16         103        91.0           75.0                   75.5

----------------------------------------------------------
### After Previewing the data the another step is to understand the data
- Type of structure
- Column Type
- Missing Values
- OVerall size of data

Overall summary of data in general.

info()
method

1. number of rows and columns
2. column name
3. int64, float64 / datatype
4. non null counts
5. memoery uses of the data frame

In [12]:
import pandas as pd

# info() method

df = pd.read_csv("student_data.csv")

print("\nDisplaying the info of data set........\n")
print(df.info())

Displaying the info of data set........

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             17 non-null     int64
 1   Math_Score             16 non-null     float64
 2   Science_Score          17 non-null     float64
 3   Attendance_Percentage  16 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 676.0 bytes
None

------------------------------------------------------------
### Untill Now We Learned:
1. How to Read the Data
2. How to Save the Data
3. How to Explore the Data
4. How to Generate Summary of Data 

Another Popular method in Pandas is :
describe()
method

- Provides a descriptive statistics for numerical columns in data frames such as : 
    - Count
    - Mean
    - Standard Deviation
    - Minimum
    - 25% 50% 75%
    - Maximum

In [14]:
import pandas as pd

# describe()

df = pd.read_csv("student_data.csv")

print("\nDisplaying the statistical summary of data set........\n")
print(df.describe())

Displaying the statistical summary of data set........

       Student_ID  Math_Score  Science_Score  Attendance_Percentage
count   17.000000   16.000000           17.0              16.000000
mean   108.176471   78.375000            NaN              87.843750
std      4.798897   24.848541            NaN               9.669055
min    101.000000  -10.000000           -inf              68.000000
25%    104.000000   77.500000           78.0              83.500000
50%    108.000000   86.000000           88.0              89.000000
75%    112.000000   90.250000           91.0              92.875000
max    116.000000   95.000000            inf             105.000000

c:\Users\surya\miniconda3\Lib\site-packages\numpy\_core\_methods.py:52: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

-------------------------------------------------------------
Understand:
1. How big is your dataset
2. What are the names of column

Shape and columns
- df.shape
- df.columns

In [15]:
import pandas as pd

# df.shape, df.columns

df = pd.read_csv("student_data.csv")

print(f"\nShape : {df.shape}")
print(f"\nColumns : {df.columns}")

Shape : (17, 4)

Columns : Index(['Student_ID', 'Math_Score', 'Science_Score', 'Attendance_Percentage'], dtype='object')

----------------------------------------------------------
### Learning How to:
-  Select specific column
    - df["Name"]
    - df["Name", "roll"]
-  Filter rows
    - Based on single condition
    - filtered_rows = df[df["Salary"] > 50000]

    - Based on multiple condition
    - filtered_rows = df[(df["salary"] > 50000) & (df["salary"] < 80000)]

In [30]:
import pandas as pd

df = pd.read_csv("student_data.csv")

# Selecting Single column
print("\nDisplaying the Student_ID column ... returns series")
student_id = df['Student_ID']
print(student_id.head())

# Selecting multiple columns
print("\nDisplaying the Student_ID and Math_Score columns ... returns dataframe")
student_info = df[['Student_ID', 'Math_Score']]
print(student_info.head())

# filtering based on single consitons
print("\nStudent_ID with Highest Math_Score")
highest_math_score = df[df["Math_Score"] > 90]
print(highest_math_score)

# filtering based on multiple conditions
print("\nStudent_id with highest Math_Score and Attendance")
highest = df[(df["Math_Score"] > 75) & (df["Attendance_Percentage"] > 90)]
print(highest)

Displaying the Student_ID column ... returns series
0    101
1    102
2    103
3    104
4    105
Name: Student_ID, dtype: int64

Displaying the Student_ID and Math_Score columns ... returns dataframe
   Student_ID  Math_Score
0         101        85.0
1         102        78.0
2         103        91.0
3         104        76.0
4         105        95.0

Student_ID with Highest Math_Score
    Student_ID  Math_Score  Science_Score  Attendance_Percentage
2          103        91.0           75.0                   75.5
4          105        95.0           92.0                   98.0
7          108        92.0           91.0                   90.0
16         103        91.0           75.0                   75.5

Student_id with highest Math_Score and Attendance
    Student_ID  Math_Score  Science_Score  Attendance_Percentage
0          101        85.0           95.0                   92.5
1          102        78.0           88.0                   99.0
4          105        95.0           92.0                   98.0
6          107        88.0           85.0                  105.0
9          110        80.0           90.0                   92.0
13         114        90.0           -inf                   91.0
14         115        87.0           93.0                   94.0

--------------------------------------------------------------------
### Modifying Data

In [ ]:
import pandas as pd

# inserting column in dataframe

df = pd.read_csv("student_data.csv")
print(df.head())
# square brackets df['column_name'] = some_Data

print("\nAfter Adding new Column:")
df['Bonus'] = df['Attendance_Percentage'] * 0.1
print(df.head())

# using insert method to inserting at a specific position
# df.insert(loc, "Column_name", some_data)

print("\n After adding neww COlumn at 2nd Index")
df.insert(2, "Bonus_2", df['Attendance_Percentage'] * 0.2)   
print(df.head())

   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        85.0           95.0                   92.5
1         102        78.0           88.0                   99.0
2         103        91.0           75.0                   75.5
3         104        76.0           89.0                    NaN
4         105        95.0           92.0                   98.0

After Adding new Column:
   Student_ID  Math_Score  Science_Score  Attendance_Percentage  Bonus
0         101        85.0           95.0                   92.5   9.25
1         102        78.0           88.0                   99.0   9.90
2         103        91.0           75.0                   75.5   7.55
3         104        76.0           89.0                    NaN    NaN
4         105        95.0           92.0                   98.0   9.80

 After adding neww COlumn at 2nd Index
   Student_ID  Math_Score  Bonus_2  Science_Score  Attendance_Percentage  \
0         101        85.0     18.5           95.0                   92.5
1         102        78.0     19.8           88.0                   99.0
2         103        91.0     15.1           75.0                   75.5
3         104        76.0      NaN           89.0                    NaN
4         105        95.0     19.6           92.0                   98.0

   Bonus
0   9.25
1   9.90
2   7.55
3    NaN
4   9.80

In [ ]:
import pandas as pd

 # updating Rows value of a specific column 
 
df = pd.read_csv("student_data.csv")
print(df.head())

# .loc[]
# df.loc[row_index, 'Column_name"] = new_value

df.loc[0, 'Math_Score'] = 99
print("\n After updating Rows")
print(df.head())

# updating entire values of a column

df['Math_Score'] = df['Math_Score'] + 1
print("\n After updating entire values of a column")
print(df.head())

   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        85.0           95.0                   92.5
1         102        78.0           88.0                   99.0
2         103        91.0           75.0                   75.5
3         104        76.0           89.0                    NaN
4         105        95.0           92.0                   98.0

 After updating Rows
   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        99.0           95.0                   92.5
1         102        78.0           88.0                   99.0
2         103        91.0           75.0                   75.5
3         104        76.0           89.0                    NaN
4         105        95.0           92.0                   98.0

 After updating entire values of a column
   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101       100.0           95.0                   92.5
1         102        79.0           88.0                   99.0
2         103        92.0           75.0                   75.5
3         104        77.0           89.0                    NaN
4         105        96.0           92.0                   98.0

In [ ]:
import pandas as pd

# dropping
# df.drop(columns = ["column_name"], inplace= True)
# inplace = True modifies the original dataframe directlyu
# inplace = False then returns new data frame

df = pd.read_csv("student_data.csv")

df.drop(columns = ["Science_Score"], inplace = True)
print("\n After Droping Science_Score column")
print(df.head())

# drop multiple columns

df.drop(columns = ["Math_Score", "Attendance_Percentage"], inplace = True)
print("\n After dropping multiple columns")
print(df.head())

 After Droping Science_Score column
   Student_ID  Math_Score  Attendance_Percentage
0         101        85.0                   92.5
1         102        78.0                   99.0
2         103        91.0                   75.5
3         104        76.0                    NaN
4         105        95.0                   98.0
   Student_ID
0         101
1         102
2         103
3         104
4         105

-------------------------------------------------------------------------
### Handling Missing Data using Pandas
- NaN (not a number)
- None (for object data types)

- isnull()

In [ ]:
import pandas as pd

# Finding missing values

df = pd.read_csv("student_data.csv")

print(df.isnull())

# number of missing values

print("\nNumber of Missing values in each column")
print(df.isnull().sum())

    Student_ID  Math_Score  Science_Score  Attendance_Percentage
0        False       False          False                  False
1        False       False          False                  False
2        False       False          False                  False
3        False       False          False                   True
4        False       False          False                  False
5        False       False          False                  False
6        False       False          False                  False
7        False       False          False                  False
8        False        True          False                  False
9        False       False          False                  False
10       False       False          False                  False
11       False       False          False                  False
12       False       False          False                  False
13       False       False          False                  False
14       False       False          False                  False
15       False       False          False                  False
16       False       False          False                  False

Number of Missing values in each column
Student_ID               0
Math_Score               1
Science_Score            0
Attendance_Percentage    1
dtype: int64

In [43]:
import pandas as pd

# handling missing values
# dropna() , fillna()
# dropna(axis=0, inplace = True) : axis = 0 rows, axis = 1 column
# fillna(value, inplace = True)

df = pd.read_csv("student_data.csv")

print("\nfillna() ")
df.fillna(0, inplace=True)
print(df.head())
print(df.isnull().sum())

print("\ndropna() ")
df.dropna(axis=1, inplace=True)
print(df.isnull().sum())

new_df = pd.read_csv("student_data.csv")
print(new_df.head())

new_df['Attendance_Percentage'].fillna(df['Attendance_Percentage'].mean(), inplace = True)
print(new_df.head())

fillna()
   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        85.0           95.0                   92.5
1         102        78.0           88.0                   99.0
2         103        91.0           75.0                   75.5
3         104        76.0           89.0                    0.0
4         105        95.0           92.0                   98.0
Student_ID               0
Math_Score               0
Science_Score            0
Attendance_Percentage    0
dtype: int64

dropna()
Student_ID               0
Math_Score               0
Science_Score            0
Attendance_Percentage    0
dtype: int64
   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        85.0           95.0                   92.5
1         102        78.0           88.0                   99.0
2         103        91.0           75.0                   75.5
3         104        76.0           89.0                    NaN
4         105        95.0           92.0                   98.0
   Student_ID  Math_Score  Science_Score  Attendance_Percentage
0         101        85.0           95.0              92.500000
1         102        78.0           88.0              99.000000
2         103        91.0           75.0              75.500000
3         104        76.0           89.0              82.676471
4         105        95.0           92.0              98.000000

C:\Users\surya\AppData\Local\Temp\ipykernel_2212\1105316545.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['Attendance_Percentage'].fillna(df['Attendance_Percentage'].mean(), inplace = True)

------------------------------------------------------------------------
### Interpolation
- It is a technique in which missing values are filled by estimated values instead of default values.
- for eg: [10, 20, NaN, 40, 50]
- estimated : [10, 20, 30, 40, 50]

Why Interploation is used:
1. Preserve data integrity
2. Smooth trends  
3. Avoid data loss

- interpolate()
    - method ='linear'
    - method = 'polynomial'
    - method = 'time'

In [49]:
import pandas as pd

data = {
    "Time": [1, 2, 3, 4, 5],
    'Value': [10, None, 30, None, 50]
}

df = pd.DataFrame(data)
print("\nBefore interpolation...")
print(df)

print("\nAfter interpolation...")
df['Value'] = df['Value'].interpolate(method="linear")
print(df)

Before interpolation...
   Time  Value
0     1   10.0
1     2    NaN
2     3   30.0
3     4    NaN
4     5   50.0

After interpolation...
   Time  Value
0     1   10.0
1     2   20.0
2     3   30.0
3     4   40.0
4     5   50.0

-----------------------------------------------------------------------
### Sorting and Aggregation
- arranging in a meaningfull order
- to generate summary

1. Sorting
    - Arranging rows based on 1 or more columns

In [52]:
import pandas as pd

# sorting data 1 column : sort_values() metho
# df.sort_values(by='column_name', ascending=True, inplace=True)

data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [24, 27, 22, 32],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"],
    "Salary": [70000, 80000, 60000, 90000]
}

df = pd.DataFrame(data)

df.sort_values(by='Age', ascending=False, inplace=True)
print("\nSorted age by descending order:")
print(df)


# multiple columns
# df.sort_values(by=['Age', 'Salary'], ascending=[False, True], inplace=True)

df.sort_values(by=['City', 'Salary'], ascending=[True, False], inplace=True)
print("\nSorted by City and Salary:")
print(df)

Sorted age by descending order:
      Name  Age         City  Salary
3    David   32      Houston   90000
1      Bob   27  Los Angeles   80000
0    Alice   24     New York   70000
2  Charlie   22      Chicago   60000

Sorted by City and Salary:
      Name  Age         City  Salary
2  Charlie   22      Chicago   60000
3    David   32      Houston   90000
1      Bob   27  Los Angeles   80000
0    Alice   24     New York   70000